node_modules
/nbproject/private/
/public/blogpost
/public/ckeditor
/public/ads
/public/cover
/public/logo
/public/naijacrawl-video
/public/naijacrawl-file
/public/naijacrawl-music
/public/users
/public/docs
/public/usersthumbnail
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/nbproject
/frontend
/resources/assets
/resources/js
/resources/css
izutago.com
beautifultoursfootball.com
mp3tager