# Header set Content-Security-Policy: upgrade-insecure-requests
RewriteEngine On
# redirect from www to https
RewriteCond %{HTTP_HOST} ^www\. [NC]
RewriteRule ^(.*)$ %{HTTP_HOST}$1 [C]
RewriteRule ^www\.(.*)$ http://$1 [L,R=301]
#ends
RewriteCond %{HTTP_HOST} ^(www.)?naijacrawl.com$
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1
RewriteCond %{HTTP_HOST} ^(www.)?naijacrawl.com$
RewriteRule ^(/)?$ public/index.php [L]

#http www to http
RewriteCond %{HTTP_HOST} ^www\.naijacrawl\.com$
RewriteRule ^/?$ "http\:\/\/naijacrawl\.com\/" [R=301,L]
