body,html{
    font-family: 'Roboto';
    background: rgb(29, 63, 102);
    height: 100vh;
  }


.Mycontainer{
    padding:0px !important;
    flex: 1;
}
.msg-content{

    margin-top: 100px;

}
.msg-content p:first-child,.download-songs{
    background: #fff;
    border-radius: 5px;
    text-transform: capitalize;
    color: white;
    text-align: center;
    width: 600px;
    margin: 20px auto;
    transition: .5s;
}

.download-songs{
    background: #535c68;
    padding:5px  20px;
}

.download-songs a{
    text-transform: uppercase;
    color: #33d9b2;
    text-decoration: none;
}
.support-btn{
  margin-top: 100px;
  text-align: center;
}
.support-btn a{
  border-radius: 3px;
  background: #cd6133;
  padding: 10px 30px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}
.support-btn a:hover{
  background: #60a3bc;
}



@media (min-width:850px) {
  .navbar .logo{
    margin-top: -15px;
  }

}

@media (max-width:850px) {
  .msg-content p:first-child,.download-songs{
    width: 400px;
  }
  .navbar .logo{
    margin-left: -20px;
    font-size: 16px;
    line-height: 60px;
    margin-top: -15px;
  }
  .navbar .logo i{
    top:-5px !important;
    left: 15px;
    font-size: 28px;
    line-height: 70px;
  }
  .navbar .logo span{
    font-size: 18px;
  }

}
@media (max-width:750px) {
.navbar .logo{
  margin-top: 0px;
}
.msg-content p:first-child,.download-songs{
  font-size: 12px;
  width:fit-content;
}
}


}