
body,html{
  background: #0A183D;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  height: 100vh;
}



.Mycontainer{
  padding: 0;
    min-height:100vh;

}
.form-container{
  background: #fff;
  padding: 50px 80px;
  margin: auto;
  border-radius: 3px;
  width: fit-content;
  max-height: auto;
  margin-top: 80px !important;
  margin-bottom:calc(100vh/8);
  display: flex;
  transition: .3s;
}

.side-form-box img{
  width: 300px;
  height: 267px;
  margin-left: -30px;
}
.side-form-box p ,.form-container .signup-resp-p {
  margin-top: 65px;
  text-align: center;
  color: #888;
  text-transform: capitalize;
}
.side-form-box p{
  margin-top: 20px;
}
.side-form-box a , .form-container .signup-resp-p a{
  text-decoration: none;
  color: #ED6A62;
}

.form-container .signup-resp-p {
  margin-top: 0;
  margin: auto;
  margin-left: -70px;
}

.form-box{
  margin-left: 60px;
}

.form-field:nth-child(1){
  display: block;
  text-align: center;
  text-transform: capitalize;

}
.form-field{
  display: flex;
  font-size: 12px;
  color:#777;
  margin: 20px 0 !important;
  position: relative;
  justify-content: center;
}
.form-field label i{
  color:rgba(26, 188, 156, .5);
  height: 30px;
  line-height: 35px;
  font-size: 16px;
  position: absolute;
  z-index: 2;
  left: 105px;
}
.form-field-sigup label i{
  position: absolute;
  z-index: 2;
  left: 90px;
}
.form-field input::placeholder{color: #ccc;}
.form-field input{

  flex-basis: 60%;
  height: 35px;
  padding: 5px 15px 5px 25px;
  border:none;
  outline:none;
  transition:.2s;
  border-bottom: 1px solid #999;
  margin-left: 10px;
  color: #555;
}
.form-field input:focus{
  border-color: #3498db;
}
.form-field input[type='submit']{
  text-align: center !important;
  border:none;
  color:white;
  background: #48dbfb;
  height: 40px;
  flex-basis: 60%;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  border-radius: 20px;
  padding: 0;

}
.form-field input[type='submit']:hover{
  background: #3498db;
}

.signup-resp-p{
  display:none;
}

@media (max-width:1000px) {
  .form-container{
      margin-top: 70px !important;
      display: block !important;
      padding:10px 40px !important;
      text-align: center !important;
    }
    .side-form-box img{
      width: 200px !important;
      height: 177px !important;
    }
    .form-field:first-child h3{
      font-size: 13px !important;
    }
    .form-field{
      margin-left: -50px !important;
    }
    .form-field .signin-h3{
      margin-left: -30px !important;
    }
    .form-field-sigup{
      margin-left: -50px !important;
    }
    .side-form-box p{
      margin-left: -60px !important;
      padding-bottom: 10px !important;
    }
    .signup-resp-p{
      display:block !important;
    }
    .signup-p{
      display: none !important
    }
    .form-field label i{
      left: 15px;
    }
    .form-field-sigup label i{
      left: 45px;
    }
}
@media (max-width:340px) {
  .form-field-sigup{
    margin-left: -70px !important;
  }
}


