
body,html{
  background: #0A183D;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;

}

.navbar .logo{
  margin-top: -15px !important;
}

.container{
  padding: 0;
  flex: 1;
}
.form-container{
  background: #fff;
  padding: 50px 80px;
  margin: auto;
  border-radius: 3px;
  width: fit-content;
  max-height: auto;
  margin-top: 80px !important;
  margin-bottom:calc(100vh/8);
  display: flex;
  transition: .3s;
}

.side-form-box img{
  width: 300px;
  height: 267px;
  margin-left: -30px;
}
.side-form-box p ,.form-container .signup-resp-p {
  margin-top: 65px;
  text-align: center;
  color: #888;
  text-transform: capitalize;
}
.side-form-box a , .form-container .signup-resp-p a{
  text-decoration: none;
  color: #ED6A62;
}

.form-container .signup-resp-p {
  margin-top: 0;
  margin: auto;
  margin-left: -70px;
}

.form-box{
  margin-left: 60px;
}

.form-field:nth-child(1){
  display: block;
  text-align: center;
  text-transform: capitalize;

}
.form-field{
  display: flex;
  font-size: 12px;
  color:#777;
  margin: 20px 0;
  position: relative;
}
.form-field label i{
  color:rgba(26, 188, 156, .5);
  height: 30px;
  line-height: 35px;
  font-size: 16px;
  position: absolute;
  z-index: 2;
  left: 10px;
}
.form-field input::placeholder{color: #ccc;}
.form-field input{

  flex-basis: 60%;
  height: 35px;
  padding: 5px 15px 5px 25px;
  border:none;
  outline:none;
  transition:.2s;
  border-bottom: 1px solid #999;
  margin-left: 10px;
  color: #555;
  text-transform: capitalize;
}
.form-field input:focus{
  border-color: #3498db;
}
.form-field input[type='submit']{
  text-align: center !important;
  border:none;
  color:white;
  background: #48dbfb;
  height: 40px;
  flex-basis: 70%;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  border-radius: 20px;
  padding: 0;
  margin-left: 30px;
}
.form-field input[type='submit']:hover{
  background: #3498db;
}

.signup-resp-p{
  display:none;
}

@media (min-width:850px) {
  .navbar .logo{
    margin-top: 0px !important;
  }
}

@media (max-width:850px) {
  .navbar .logo{
    margin-left: -20px;
    font-size: 16px;
    line-height: 60px;
    margin-top: 0px !important ;
  }
  .navbar .logo i{
    top:-5px !important;
    left: 15px;
    font-size: 28px;
    line-height: 70px;
  }
  .navbar .logo span{
    font-size: 18px;
  }
}
@media (max-width:750px) {
.navbar .logo{
  margin-top: 0px !important;
}
