* {
  font-family: 'Signika', sans-serif; }

body {
  color: #545D65; }

.logo {
  color: #545D65; }
  .logo .logo__icon {
    color: #CD6133; }

.btn--cta {
  background-color: #CD6133;
  color: white;
  border-radius: 1.8rem; }

.btn--signup {
  background-color: #CD6133;
  color: white; }

header {
  margin-top: 6rem; }

.heading .heading__header-text {
  font-size: 2rem;
  font-weight: bold; }
  @media screen and (min-width: 576px) {
    .heading .heading__header-text {
      font-size: 3rem; } }

.heading .heading__header-info {
  font-size: 1.4rem;
  color: #6b7781; }

.heading-image {
  text-align: center; }
  @media screen and (min-width: 576px) {
    .heading-image {
      text-align: right; } }

.introduction {
  margin-top: 12rem;
  background-image: url(../images/dark-1850120_960_720.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 9rem 0; }
  .introduction .introduction__text {
    font-size: 1.4rem;
    color: #E5E5E6; }

.features {
  margin-top: 12rem; }
  .features .personalize {
    margin-bottom: 9rem; }
  .features .feature__heading {
    font-weight: bold;
    font-size: 1.9rem; }
    @media screen and (min-width: 576px) {
      .features .feature__heading {
        font-size: 2.5rem; } }
  .features .feature__text {
    font-size: 1rem;
    color: #6b7781; }
    @media screen and (min-width: 576px) {
      .features .feature__text {
        font-size: 1.1rem; } }
  .features .feature-list li {
    font-size: 1.1rem;
    color: #6b7781; }
    .features .feature-list li .feature-list__icon {
      background-color: #ddefff;
      color: #0267C1; }

.benefits {
  background-color: #f2f2f3;
  margin-top: 12rem;
  padding: 9rem 0; }

.benefit .benefit__image {
  text-align: center; }
  .benefit .benefit__image img {
    width: 100px;
    height: 100px; }

.benefit .benefit__heading {
  font-weight: bold; }

.footer {
  margin-top: 12rem; }
  .footer .footer__heading {
    font-weight: bold; }
  .footer .footer__link {
    color: #545D65; }

.price-section {
  margin-top: 12rem; }

.pricing {
  background-color: #f7f7f8;
  height: 20rem; }
  @media screen and (max-width: 768px) {
    .pricing {
      margin-bottom: 1rem; } }
  .pricing .pricing__name {
    font-size: .9rem;
    color: #7d7d82; }
  .pricing .pricing__fee h2 {
    font-weight: bold;
    font-size: 1.5rem; }
  .pricing .pricing__getstarted-button .btn--get-started {
    background-color: #CD6133;
    color: white; }
  .pricing .plan-features {
    color: #7d7d82;
    font-size: .8rem; }
    .pricing .plan-features li {
      margin-bottom: .3rem; }
      .pricing .plan-features li .plan__icon {
        color: #0267C1;
        margin-right: .2rem;
        font-size: .7rem; }

.login-page, .signup-page, .how-it-works {
  margin-top: 10rem; }

.form-label {
  color: #7d7d82; }

.form-input {
  padding-left: 2rem;
  color: #7d7d82; }

.input__icon {
  color: #b1b1b4;
  position: relative;
  top: -1.8rem;
  left: .7rem; }

main.upload-page {
  margin-top: 7rem; }

.dropzone {
  min-height: 150px;
  border: 3px dashed #CD6133;
  background: #f5f5f5 !important;
  padding: 20px; }

@media only screen and (max-width: 992px) {
  .toast-top-right {
    min-width: 250px !important;
    margin-left: -125px !important;
    text-align: center !important;
    border-radius: 2px !important;
    padding: 16px !important;
    position: fixed !important;
    z-index: 1 !important;
    left: 50% !important;
    top: 50% !important;
    bottom: 30px !important;
    font-size: 17px !important;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s; } }

@media only screen and (min-width: 993px) {
  .toast-top-right {
    min-width: 250px !important;
    margin-left: -125px !important;
    text-align: center !important;
    border-radius: 2px !important;
    padding: 16px !important;
    position: fixed !important;
    z-index: 1 !important;
    left: 50% !important;
    top: 60% !important;
    bottom: 30px !important;
    font-size: 17px !important;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s; } }

.modal {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: Black;
  filter: alpha(opacity=60);
  opacity: 0.6;
  -moz-opacity: 0.8; }

.mcenter {
  z-index: 1000;
  margin: 300px auto;
  padding: 10px;
  width: 130px;
  background-color: #ddd;
  border-radius: 10px;
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-opacity: 1; }

.mcenter img {
  height: 100px;
  width: 100px; }

#google_translate_element {
  position: relative; }

.goog-logo-link {
  display: none; }

.goog-logo-link #text {
  display: none; }

.goog-te-gadget {
  font-size: 0px !important; }

.goog-te-gadget div {
  display: inline; }

.goog-te-gadget div select {
  width: 131px;
  height: 35px;
  border: 1px solid #E5E5E6 !important;
  color: #000;
  padding: 2px;
  outline: none;
  border: none; }

.goog-te-gadget div select option {
  border: 1px solid #E5E5E6; }

.goog-te-gadget div select option:hover {
  cursor: pointer; }

.goog-te-gadget div select:hover {
  border: 1px solid #E5E5E6 !important;
  cursor: pointer; }
