body{
  height: 100vh;
  background-image: url('../images/policy.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  filter: blur();

}
.Mycontainer{

  flex: 1;
  padding: 100px 200px;
}
.policy-content{
  color: #fff;
  overflow: auto;
}
.policy-content ol{
  list-style:decimal-leading-zero;
  padding: 0;
  margin: 0;
  padding:10px 50px;

}
.policy-content ol h2{
  font-size: 28px;
}
.policy-content ol p{
  font-size: 16px;
}

@media (max-width:986px) {
  .Mycontainer{
    padding:100px 10px;
  }
}

@media (max-width:750px) {
  body{
    background-image: url('../images/policy-res.jpg') !important;
    height: auto;
    width: auto;
  }
  .policy-content ol h2{
    font-size: 22px !important;
  }
  .policy-content ol p{
    font-size: 15px !important;
  }
  .Mycontainer{
    flex: 1;
  }
}
@media (max-width:986px) {
  /* navbar */
  .navbar{
  display: flex;
  justify-content: center;
  position: relative;
}

.navbar .logo{
  margin-top:0px ;
}
.nav-links .fa-bars{
  display: block;
}
.nav-links ul li {
  display:block;
  width: 100%;
  padding: 10px 0px !important;
}
.nav-links ul li:hover{
  background: #636e72;
  cursor: pointer;
  border-left: 4px solid #DA0353;
}
.nav-links ul li:hover a{
  transition: .5s;
  padding-left: 40px;
  color: #DA0353;
  border:none;
  font-weight: bold
}
.navbar .nav-links ul li a:hover{
  border:none !important;
  color: #DA0353;
  background: none !important;
}
.nav-links ul{
  padding-left: 0px !important;
  position: absolute;
  left: 0;
  top: 80px;
  width: 100%;
  height: 100vh;
  background: #000;
  z-index: 20;
  margin-top: -20px;
  transition: all 1s ease-out;
  text-align: center;
  clip-path:circle(100px at 90% -40%);
  pointer-events:none;
}
.fade-nav{
  transition: all 2s ease-out;
  clip-path:circle(1500px at 90% -40%) !important;
  pointer-events:all !important;}
}
}
