body,html{
    font-family: 'Roboto';
    background: rgb(29, 63, 102);
    height: 100vh;
}

.Mycontainer form{
  margin-top: 100px;
}
.tag-field{
  margin: 20px auto;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
}
.tag-field:nth-child(odd){
  background: #999;
}
.tag-field:nth-child(even){
  background: #666;
}
.tag-field:last-of-type{
  background: none;
}
.preview-field{
  text-align: center;
}
.tag-title{
  text-align: center;
  font-size: 1rem;
  letter-spacing: 2px;
}
.tag-title label{
  padding-left: 0px !important;
}
.preview-field img{
  width: 200px;
  height: 100px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.tag-field label{
  padding-top: 10px;
  padding-left: 50px;

}
.tag-field input[type='text']{
  width: 90%;
  height: 40px;
  padding: 5px 20px;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  color: #777;
  border:1.4px solid #777 ;
  border-radius:5px;
  transition: .5s;
}

.tag-field input:focus{
  border:2px solid #74b9ff ;
  box-shadow: 0 0 5px #74b9ff;
}
.tag-field input[type='text']::placeholder{
  text-transform: capitalize;
}
.browse-btn-cont{
  position: relative;}

.song-txt-title::placeholder{
  padding-left:0px!important;
}
.song-txt-title{
  padding-left: 100px !important;
}
#img-text{
  padding-left: 100px;
}
.browse-btn{
  cursor: pointer;
  background: #888;
  position: absolute;
  padding: 10px  20px !important;
  border-radius: 5px 0 0 5px;
}
.browse-btn:hover{
  background: #555;
}
.select-btn  input[type='checkbox']{
  display: none;
}
.select-btn label{
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}
.lbl-sel{
  margin-left: 10px;
  margin-right: 10px;
}
.lbl-sel label {
  padding-left: 0!important;
}
.select-btn .lbl-sel{
  display: inline-block;
  transition: .5s;
}
.select-btn{
  text-align: center;
  margin-top: 30px;
}
.select-btn label:last-child{
  background: #576574;
  width: 25px;
  height: 25px;
  padding-left: 0;
  border-radius: 50%;
  line-height: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.sub-btn-form {
  text-align: center;
}
.sub-btn-form input{
  padding: 7px 40px;
  background: #74b9ff;
  border-radius: 4px;
  border:none;
  color: #fff;
  outline:none;
  text-transform: capitalize;
}
.lbl-sel-data input{
  display: none;
}

.lbl-sel-data{
  position: relative;
}

.lbl-sel-data label:last-child{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #f5f6fa;
  background: #e1b12c;
  line-height: 7px;
  padding-left: 0px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 50px;
  top: 7px;
}
.lbl-sel-data label:first-child{
  padding-left: 10px;
  text-transform: capitalize;
  letter-spacing: 5px;
  margin-left: 80px;
  cursor: pointer;
  transition: .5s;
}

.none-song-rad:checked ~ .none-song-lbl {
  background: #1dd1a1;
}
.start-song-rad:checked ~ .start-song-lbl {
  background: #1dd1a1;
}
.end-song-rad:checked ~ .end-song-lbl {
  background: #1dd1a1;
}
.temp-data-chk:checked ~ .temp-data{
  background: #000;
}
.forever-data-chk:checked ~ .forever-data{
  background: #000;
}



.img-txt-style input { 
  padding-left: 100px !important;
}
.img-txt-style input::placeholder{
  padding-left: 0px !important;
 }

.optionSelect select{
  margin:auto;
  width:150px;
  height:40px;
  padding:10px;
  cursor: pointer;
  border:none;
  color:#fff;
  background:#747d8c;
  text-transform: capitalize;
  border-radius: 5px;
}










@media (min-width:986px) {
  .Mycontainer{
    margin-top: 100px;
    width:915px;
    margin: auto;
  }
}

@media (max-width:986px) {
  .navbar .logo{
    margin-left: -20px;
    font-size: 16px;
    line-height: 60px;
    margin-top: -25px;
  }
  .navbar .logo i{
    top:-5px !important;
    left: 15px;
    font-size: 28px;
    line-height: 70px;
  }
  .navbar .logo span{
    font-size: 18px;
  }
  .Mycontainer{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media (max-width:850px) {
.navbar .logo{
  margin-top: 0px;
}
.select-btn{
  margin-left: 0px !important;
  display: flex;
  flex-direction: column;
}
.lbl-sel label{
  margin-left: 0px !important;
}
.lbl-sel label:first-child{
  text-align: left;
}
}