<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/font.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/policy.css">
  <link rel="stylesheet" href="../css/responsive.css">
  <title>Privacy And Policy</title>
</head>
<body>

  <!-- --------------Start of navigation bar--------- -->
      <div class="navbar">
        <div class="logo">
          <a href="./index.html"><i class="fas fa-compact-disc"></i>
          Mp3Tag<span>.com</span></a>
        </div>
      <div class="nav-links">
        <label id="chk-list-hide"><i class="fa fa-bars"></i></label>
        <ul>
          <li><a href="../index.html" class="active">home</a></li>
          <li><a href="./pages/upload.html" class="start-upload-btn">Start Uploading</a></li>
          <li>
            <!-- doropdown list -->
            <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact Us
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="./pages/contact.html">Contact Us</a>
                <a class="dropdown-item" href="#aboutUs">About Us</a>
                <a class="dropdown-item" href="#">Privacy & Policy</a>
                <a class="dropdown-item" href="#">Terms Of Service</a>
              </div>
            </div>
            <!-- End of dropdown list -->
          </li>
          <li><a href="./pages/signup.html">Sign up</a></li>
          <li><a href="./pages/signin.html">Sign in<i class="fas fa-sign-in-alt"></i></a></li>
          <li id="google_translate_element"></li>
        </ul>
      </div>
      </div>

      <!-- --------------End  of navigation bar--------- -->



  <!-- --------------Start of Body----------->
<div class="Mycontainer">
  <div class="policy-content">
    <ol>
      <li>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi nemo, tempora earum. Perspiciatis eos ea repellat quos adipisci, architecto alias!</p>
      </li>
      <li>
        <h2>Sapiente qui officia harum laudantium.</h2>
        <p>Reiciendis nisi voluptatum magni voluptate ut architecto aliquam veniam, adipisci, sapiente, corporis sequi, temporibus similique quas impedit enim a tempore!</p>
      </li>
      <li>
        <h2>Saepe iste, aspernatur delectus quaerat!</h2>
        <p>Saepe possimus, dolores necessitatibus maiores quidem neque, quis, quae nobis modi doloremque esse accusamus. Placeat minus aliquid repellat nisi sequi?</p>
      </li>
      <li>
        <h2>Error molestias, qui nobis amet.</h2>
        <p>Ipsam expedita, voluptas hic sapiente neque quae quis dolorem dignissimos nam perspiciatis, laudantium laboriosam accusantium accusamus eaque modi tempora aspernatur.</p>
      </li>
      <li>
        <h2>Commodi sint maxime esse, ut.</h2>
        <p>Accusantium laborum, sint veniam similique id laboriosam esse, aspernatur dolorum nobis ea, enim. Sint dolore accusantium, et suscipit culpa, rerum.</p>
      </li>
    </ol>
  </div>

</div>

<div class="footer">
  <p>all copyrights reserved</p>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-whatsapp"></i></a>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      }
      </script>
          <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="../script/script.js"></script>
</body>
</html>
